@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@400;500&family=Montserrat:wght@200;400;500;600&display=swap');
* {
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}
@mixin flexer ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-items: center;
    align-items: center;
}

body {
    header {
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(104, 134, 155, 0.568);
        // border-bottom: 2px solid rgba(143, 159, 170, 0.212);
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .upper {
                font-size: 0.8rem;
                padding: 0.3em 2em;
                background-color: rgb(66, 66, 66);
                color: whitesmoke;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .shortcuts {
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    a {
                        color: white;
                    }
                    .sc-item {
                        margin-right: 1em;
                    }
                }
                .contacts {
                    display: flex;
                    flex-direction: row;
                    .c-item {
                        margin: 0 0.5rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: end;
                        a {
                            margin-left: 0.4rem;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
            .title {
                display: flex;
                padding: 0.5rem;
                align-items: center;
                margin: 0.5rem 2rem;
                img {
                    width: 180px;
                }
                .dept {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: rgb(0, 103, 194);
                    margin-left: 1rem;
                    text-shadow: 2px 1px 10px rgb(196, 196, 196);
                    .sec {
                        font-size: 1.2rem;
                        color: rgb(150, 150, 150);
                        font-weight: 500;
                    }
                }
            }
            .nevigation {
                background-color: #0163a3f3;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    list-style-type: none;
                    margin: 0 3rem 0 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    li {
                        padding: 0.8rem 1.2rem;
                        a {
                            text-decoration: none;
                            color: white;
                            &:hover {
                                border-bottom: 2px solid rgb(179, 215, 245);
                                cursor: pointer;
                            }
                            &:active {
                                color:rgb(101, 183, 255);
                            }
                        }
                    }
                }
            }
        }
    }
    .body-container {
        display: flex;
        flex-direction: row;
        padding: 2.5em 3em;
        .left-col {
            width: 65%;
            .carousel-container {
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 15px rgba(204, 204, 204, 0.7);
                .carousel-item {
                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }
                    h5, p {
                        text-shadow: 0 0 10px rgb(175, 175, 175);
                    }
                }
            }
        }
        .right-col {
            width: 35%;
            padding-left: 2em;
            .about-eee {
                .thumbnail {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    padding: 0.5rem;
                    color: rgb(80, 80, 80);
                    .detail-link {
                        color: #0163a3f3;
                        display: inline-block;
                        margin-left: 10px;
                        .learn-more {
                            display: flex;
                            flex-direction: row;
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .notice-board {
                .content {
                    .notice-item {
                        background-color: aliceblue;
                        border-radius: 5px;
                        padding: 0.5rem;
                        color: rgb(0, 41, 124);
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        .icon {
                            margin-right: 0.5rem;
                        }
                        .notice-content {
                            .date {
                                font-size: 1rem;
                                color: #0071b8f3;
                            }
                        }
                    }

                }
            }
            .upcoming-events {
                .content {
                    .e-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: aliceblue;
                        padding: 1.5rem 0.5rem;
                        border-radius: 10px;
                        margin-bottom: 1em;
                        .datetime {
                            @include flexer(row);
                            background-color: #0163a3f3;
                            border-radius: 10px;
                            box-shadow: 0 0 10px #0162a352;
                            overflow: hidden;
                            .date {
                                padding: 5px 10px;
                                background-color: rgb(255, 255, 255);
                                font-size: 2.5rem;
                                color: #0163a3f3;
                                font-weight: 500;
                                border-radius: 10px;
                                text-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
                            }
                            .month-year {
                                padding: 0 1.2em;
                                .month {
                                    color: rgb(168, 223, 255);
                                    font-size: 1.2rem;
                                    font-weight: 500;
                                }
                                .year {
                                    color: rgba(168, 223, 255, 0.8);
                                }
                            }
                        }
                        .descr {
                            color: #0071b8f3;
                            margin: 1rem 0;
                            font-size: 1.1rem;
                            font-weight: 500;
                            text-align: center;
                        }
                        .event-info {
                            padding: 0.5rem 1.5rem;
                            color: rgb(98, 104, 112);
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: 0 0 15px rgb(173, 199, 223);
                            .schedule, .location {
                                display: flex;
                                flex-direction: row;
                            }
                            .icon {
                                margin-right: 10px;
                                color: #0163a3f3;
                            }
                        }
                    }
                }
            }
        }
        .notice {
            @include flexer(column);
            width: 100%;
            padding: 3em;
            border-radius: 10px;
            .icon {
                img {
                    width: 400px;
                }
            }
            .title {
                margin: 1em 0;
                font-weight: 500;
                font-size: 2rem;
                color: #7e7e7ef3;
            }
        }
    }
}

// common element styles

.title-box {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(204, 204, 204, 0.5);
    overflow: hidden;
    margin-bottom: 2rem;
    border: 2px solid rgba(153, 153, 153, 0.2);
    .title {
        background-color: #0163a3f3;
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .content {
        margin: 1rem;
    }
}